@import "scss/_fonts";
@import "scss/_global";
@import "scss/_header";
@import "scss/_footer";
@import "scss/_homeslider";
@import "scss/_aboutus";
@import "scss/_highlightitems";
@import "scss/_whyus";
@import "scss/_chairmanmessage";
@import "scss/_ourservice";
@import "scss/testimonials";
