.about-hero {
  background-color: #ebe5e591;
  padding: 70px 0;

  .container{

    .about-row{
      display: flex;
      gap: 80px;


      .row-right{
        display: flex;
        justify-content: center;
      }
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    color: $primary;
    // animation: fadeInDown 1s ease both;
  }

  p {
    font-size: 1.25rem;
    color: #000;
    // animation: fadeInUp 0.5s ease 0.5s both;
  }

  img {
    border: 2px solid $primarylight;
    border-radius: 20px;
    min-width: 500px;
    max-height: 400px;
    animation: zoomIn 1s ease 0.5 both;
    display: flex;
    justify-content: center;
  }
}


.about-values {
  background-color: #e79a2e2e;
  color: #000;
  text-align: center;
  padding: 80px 0;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  i {
    color: #000;
  }

  h5 {
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: 600;
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.about-team {
  background-color: #e2dfdf80;
  color: black;
  text-align: center;
  padding: 80px 0;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
  }

  .team-card {
    background-color: $primarylight;
    color: #000;
    transition: transform 0.3s ease, box-shadow 0.3s;
    border-radius: 10px;
    padding: 30px;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid $primary;
    }

    h5 {
      margin-top: 15px;
      font-size: 1.5rem;
      font-weight: 600;
      color: $secondary;
    }

    p {
      color: #222;
      font-size: 1.25rem;
    }
  }
}

// Animations
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
