
.chairman-message {
  padding: 2rem 1.5rem;
  background: #f9f9f9;
  height: 660px;

  // .container {
  //   max-width: 1700px;
  //   margin: 0 auto;
  // }

  .message-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #f9f9f9;
    // border-radius: 20px;
    // box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding: 2rem 4rem;
    height: 600px;

    .message-text {
      flex: 1 1 60%;
      padding-left:  5rem;

      img{
        height: 100px;
        margin-left: -10px;
      }

      p {
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom: 5rem ;
        margin-top: 3rem;
        padding-left: 50px;
        color: #444;
        line-height: 1.6;
      }

      h4 {
        color: $primary;
        font-weight: 600;
        text-align: right;

        small {
          display: block;
          color: #777;
          font-size: 0.9rem;
          margin-top: 0.3rem;
        }
      }
    }

    .message-image {
      flex:  1 40%;
      text-align: center;

      img {
        // width: 450px;
        // height: auto;
        height: 450px;
        width: auto;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        // transform: rotate(-2deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .chairman-message .message-box {
    flex-direction: column;

    .message-text {
      padding-right: 0;
      text-align: center;
    }

    .message-image {
      margin-top: 2rem;

      img {
        width: 180px;
      }
    }
  }
}
