
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@400;600;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

@font-face {
  font-family: colonyFont;
  src: url("../../fonts/Harper\ Bold\ Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: colonyFont;
  src: url("../../fonts/Harper\ Bold\ Bold.woff");
  font-weight: 700;
}
