@font-face {
  font-family: colonyFont;
  src: url("../../fonts/Harper\ Bold\ Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: colonyFont;
  src: url("../../fonts/Harper\ Bold\ Bold.woff");
  font-weight: 700;
}
