/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/

.footer-about{
  background-color: #fff8e9;
  padding: 5em 0;
  .svgicon{
    margin-bottom: 15px;
  }
}
.footer {
  color: #111; // default color
  background-color: #ffeabd; // background color
  font-size: 16px;
  padding: 60px 0;
  position: relative;

  .icon {
    color: $secondary; // accent color
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Manrope';
  }

  .address {
    p {
      margin-bottom: 0px;
    }
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $secondary; // 50% transparent default color approximation
      font-size: 16px;
      color: $secondary; // same as above
      margin-right: 10px;
      transition: 0.3s;

      &:hover {
        color: $primary; // accent color
        border-color: $primary;
      }
    }
  }

  .copyright {
    padding-top: 20px;
    border-top: 1px solid #e6e6e6; // 90% transparent default color approximation

    p {
      margin-bottom: 0;
    }
  }

  .credits {
    margin-top: 5px;
    font-size: 13px;
  }
}
