$primary: #e79a2e;
$secondary: #6e0000;
$primarylight: #e8dcc2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title{
  text-align: center;
  h2{
    width: fit-content;
    margin: 0 auto;
    text-align: center; 
    font-family: 'DM Serif Display', serif;;
  }
  p{
    font-family: 'Manrope', sans-serif ;
  }
}



/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  // visibility: hidden;
  // opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: $secondary;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: white;
  line-height: 0;
}

.scroll-top:hover {
  background-color: $primary;
  color: $secondary;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}
