* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: colonyFont;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      
        .logo-default{
            width: 100px;

        }
    }

    .navbar-links {
      display: flex;
      gap: 1.5rem;

      a {
        color: #666;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $primary;
        }
      }
    }

    .mobile-menu-button {
      display: none;
      font-size: 24px;
      cursor: pointer;
      color: #666;
    }
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: white;

    a {
      padding: 0.5rem 0;
      color: #666;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    &.show {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .container {
      .navbar-links {
        display: none;
      }

      .mobile-menu-button {
        display: block;
      }
    }
  }
}
