.navbar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      .logo-default {
        width: 100px;
      }
    }

    .navbar-links {
      display: flex;
      gap: 1.5rem;

      a {
        color: $primary;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $secondary;
          text-decoration: underline;
        }
      }
    }

    .mobile-menu-button {
      display: none;
      font-size: 20px;
      cursor: pointer;
      color: $primary;
    }
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: $primarylight;
    tr a {
      padding: 0.5rem 0;
      color: $primary;
      font-size: 24px;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }

    &.show {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .container {
      .navbar-links {
        display: none;
      }

      .mobile-menu-button {
        display: block;
      }
    }
  }
}
