.product{
    margin-bottom: 5em;
}

.product-item{
   
       
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   a{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: contain;
        border: 2px solid #f2f2f2;
        padding: 10px;
    img{
        
    }
    &:hover, &:focus{
        
            border: 2px solid $primary;
        
    }
}
   .product-info{
    h4{
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    p{
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
   }
}