.testimonial-section {
//   background-color: $secondary;
  font-family: colonyFont;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  ;

  #testimonialCarousel {
    background: linear-gradient(112deg, #e9c8c8 50%, $primarylight 50%);
    // max-width: 900px;
    margin: auto;
  }

  .carousel-caption {
    position: initial;
    z-index: 10;
    // padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    p{
        display: flex;
        align-items: center;
        width: 50%;
    }

    img {
      width: 6rem;
      border-radius: 5rem;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #image-caption {
      font-style: normal;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  i {
    background-color: $secondary;
    padding: 1.4rem;
    color: white;
  }

  .carousel-control-prev,
  .carousel-control-next {
    justify-content: flex-start;
    transition: none;
    opacity: unset;
  }

  .carousel-control-next {
    justify-content: flex-end;
  }

  @media (max-width: 767px) {
    .carousel-caption {
      padding: 3rem 2rem;
      font-size: 0.7rem;
      line-height: 1.5rem;

      img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
      }

      #image-caption {
        font-size: 0.6rem;
      }
    }

    i {
      padding: 0.8rem;
    }
  }
}
