/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/

.why-us {
    background-color: #fffef6;
   
    .why-box{
      color: #ffffff; 
      background: rgb(235, 234, 223); 
      padding: 30px;
      height: 100%;
      width: 100%;
  
      h3 {
        color: $primary;
        
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 30px;
      }
  
      p {
        margin-bottom: 30px;
        font-size: 18px;
        color: #111;
      }
  
      .more-btn {
        display: inline-block;
        background: #ffffff1a;
        padding: 8px 40px 10px 40px;
        color: #ffffff;
        transition: all ease-in-out 0.4s;
        border-radius: 50px;
  
        i {
          font-size: 14px;
        }
  
        &:hover {
          color: $primary;
          background: #f1f1f1; 
        }
      }
    }
  
    .icon-box {
      background-color: #f1f1f1; 
      text-align: center;
      padding: 40px 30px;
      width: 100%;
      height: 100%;
      border: 1px solid #cccccc; 
  
      i {
        color: $primary;
        font-size: 32px;
        margin-bottom: 30px;
        background: #e6f2f2;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        transition: 0.3s;
      }
  
      h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0 0 30px 0;
        font-family: 'Arial, sans-serif';
      }
  
      p {
        font-size: 15px; 
        color: #666666;
      }
  
      &:hover {
        i {
          color: #ffffff;
          background: $primary;
        }
      }
    }
  }
  